<div class="employees-list section">
    <div class="header-container">
        <div>
            <button mat-button color="primary" routerLink="/add-employee">Add Employee</button>
            <app-filter></app-filter>
        </div>
        <h1 class="h
        eader">Current Employees List</h1>
    </div>


    <div>
        <table mat-table [dataSource]="employeeCollection" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let employee"> {{employee.age}} </td>
            </ng-container>

            <!-- City -->
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City</th>
                <td mat-cell *matCellDef="let employee"> {{employee.city}} </td>
            </ng-container>
            <!-- Email -->

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
            </ng-container>
            <!-- PreviousCompany -->
            <ng-container matColumnDef="prev-comp">
                <th mat-header-cell *matHeaderCellDef> Previous Company</th>
                <td mat-cell *matCellDef="let employee"> {{employee.company}} </td>
            </ng-container>
            <!-- PreviousCompany -->
            <ng-container matColumnDef="hire-date">
                <th mat-header-cell *matHeaderCellDef> Hire Date</th>
                <td mat-cell *matCellDef="let employee"> {{employee.date}} </td>
            </ng-container>
            <!-- Department -->
            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef> Department</th>
                <td mat-cell *matCellDef="let employee"> {{employee.department}} </td>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let employee">
                    <button mat-button color="primary" (click)="openDialog('400ms', '100ms', employee)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- <div class="employee-item">
        <div class="identity">
            <div class="identity-item">
                <h3>First Name</h3>
                <p>{{secondEmployee.identity.firstName}}</p>
            </div>
            <div class="identity-item">
                <h3>Second Name</h3>
                <p>{{secondEmployee.identity.secondName}}</p>
            </div>
            <div class="identity-item">
                <h3>Age</h3>
                <p>{{secondEmployee.identity.age}}</p>
            </div>
        </div>
        <div class="additional-info">
            <div class="info-item">
                <h3>Email</h3>
                <p>{{secondEmployee.email}}</p>
            </div>
            <div class="info-item">
                <h3>Job Description</h3>
                <p>{{secondEmployee.jobDescription}}</p>
            </div>
            <div class="info-item">
                <h3>Job Hire Date</h3>
                <p>{{secondEmployee.hireDate}}</p>
            </div>
        </div>
    </div> -->
</div>