<button mat-button color="primary" [matMenuTriggerFor]="animals">Filter</button>
<mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="city">City</button>
    <button mat-menu-item [matMenuTriggerFor]="department">Departments</button>
    <button mat-menu-item (click)="setDefaultEmployees()">All</button>
</mat-menu>

<mat-menu #city="matMenu">

    <mat-radio-group aria-label="Select City">
        <mat-radio-button class="example-radio-button" *ngFor="let city of cities" [value]="city"
            (click)="setCityEmployess(city)">
            {{city}}
        </mat-radio-button>
    </mat-radio-group>
</mat-menu>

<mat-menu #department="matMenu">
    <mat-radio-group aria-label="Select Department">
        <mat-radio-button class="example-radio-button" *ngFor="let department of departments" [value]="department"
            (click)="setDepartmentEmployees(department)">
            {{department}}
        </mat-radio-button>
    </mat-radio-group>
</mat-menu>