<div class="employees-login section">
    <h1>Login</h1>

    <div class="auth-login">
        <form (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="login-item">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="usernameControl">
                <mat-error *ngIf="usernameControl.invalid">{{getErrorMessage(usernameControl)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="login-item">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordControl">
                <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
            </mat-form-field>
            <button mat-fab extended color="primary">Login</button>
            <mat-error *ngIf="loginGood">Incorrect Login Information</mat-error>
        </form>
    </div>
</div>